@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.6s;

  @apply bg-base w-full;
}
html, body, main {
  @apply w-full
}

p {
  @apply text-black;
}

/* https://fonts.adobe.com/fonts/rotulo-variable?vf-font-size=100&vf-font=RotuloVariable-CompressedThin&vf-axes=slnt,0,wght,700,wdth,50 */
h1 {
    font-family: "reflex-pro-variable",sans-serif;
    font-variation-settings: 'wdth' 100, 'wght' 400, 'ital' 0;
    @apply text-[8rem] text-black text-center laptop:text-8xl handheld:text-7xl uppercase
  }
  .h1-project {
    font-size: 10rem;
    font-variation-settings: 'wdth' 70, 'wght' 750, 'slnt' 0;
    text-shadow: none;
    @apply handheld:text-7xl
  }

h2 {
  font-size: 16rem;
  font-family: "reflex-pro-variable",sans-serif;
  font-variation-settings: 'wdth' 100, 'wght' 400, 'ital' 0;
  @apply text-accent uppercase;
}
  .h2-link {
    font-family: "rotulo-variable",sans-serif;
    font-variation-settings: 'wdth' 70, 'wght' 600, 'slnt' 0;

    @apply text-gray-400 text-6xl w-fit handheld:text-4xl underline-effect;
  }

h3 {
  line-height: 0.2;
  @apply  text-3xl inline;
}

.project-content p,
	ul {
		@apply text-xl mb-4 handheld:text-xl;
	}
.project-content h1 {
  all: unset;
  font-family: 'reflex-pro-variable', sans-serif;
  @apply text-left mt-4 text-5xl font-bold handheld:text-2xl uppercase;
}

.reflex-pro {
  font-family: "reflex-pro-variable",sans-serif;
  font-variation-settings: 'wdth' 100, 'wght' 400, 'ital' 0;
}

.external-link {
  @apply text-accent text-3xl w-fit handheld:text-4xl underline-effect;
}

.underline-effect {
  text-decoration: none;
		background-image: linear-gradient(#F24822, #F24822);
		background-size: 0% 0.1em;
		background-position-y: 100%;
		background-position-x: 100%;
		background-repeat: no-repeat;
		transition: background-size 0.2s ease-in-out;
}
.underline-effect:hover,
.underline-effect:focus,
.underline-effect:active {
  background-size: 100% 0.1em;
  background-position-x: 0%;
}

.marked-text {
  @apply text-custom-yellow font-semibold;
}

.card-shadow {
  box-shadow:
			inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
			/* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
			/* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
			0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
			0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}