@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.6s;

  @apply bg-base w-full;
}
html, body, main {
  @apply w-full overflow-x-hidden;
}

p {
  @apply text-black text-2xl;
}

/* https://fonts.adobe.com/fonts/rotulo-variable?vf-font-size=100&vf-font=RotuloVariable-CompressedThin&vf-axes=slnt,0,wght,700,wdth,50 */
h1 {
    font-family: "reflex-pro-variable",sans-serif;
    font-variation-settings: 'wdth' 100, 'wght' 400, 'ital' 0;
    @apply text-6xl sm:text-8xl lg:text-[8rem] 2xl:text-[9rem] text-black text-center uppercase
  }

h2 {
  font-family: "reflex-pro-variable",sans-serif;
  font-variation-settings: 'wdth' 100, 'wght' 400, 'ital' 0;
  @apply text-5xl font-bold xl:font-normal md:text-[10rem] xl:text-[16rem] text-accent uppercase;
}

h3 {
  font-family: "reflex-pro-variable",sans-serif;
  font-variation-settings: 'wdth' 100, 'wght' 400, 'ital' 0;
  @apply text-5xl sm:text-6xl md:text-8xl projectMin:text-9xl font-bold mb-4 text-left uppercase;
}
h4 {
  font-family: "reflex-pro-variable",sans-serif;
  font-variation-settings: 'wdth' 100, 'wght' 400, 'ital' 0;
  @apply text-4xl font-bold mb-4 text-left uppercase;
}

.reflex-pro {
  font-family: "reflex-pro-variable",sans-serif;
  font-variation-settings: 'wdth' 100, 'wght' 400, 'ital' 0;
}

.external-link {
  @apply text-accent text-3xl w-fit handheld:text-4xl underline-effect;
}

.underline-effect {
  text-decoration: none;
		background-image: linear-gradient(#F24822, #F24822);
		background-size: 0% 0.1em;
		background-position-y: 100%;
		background-position-x: 100%;
		background-repeat: no-repeat;
		transition: background-size 0.2s ease-in-out;
}
.underline-effect:hover,
.underline-effect:focus,
.underline-effect:active {
  background-size: 100% 0.1em;
  background-position-x: 0%;
}

.marked-text {
  @apply text-accent font-semibold;
}

.card-shadow {
  box-shadow:
			inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
			/* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
			/* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
			0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
			0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}